body {
	background-color: #ADD9E4;
}

#search-button-home, #search-button-results {
	height: 40px;
	color: white;
	background-color: #339ccc;
}

#search-box-home {
	width: 100%;
	/*
	position: absolute;
	height: 100%;	
	display: table;	
	*/
}


#search-box-home .row {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

#search-box-home p{
	font-family: Verdana, Geneva, sans-serif;
	color: #E88100;
	padding-left: 15px;
}

.result-col{
	width: 800px;
	margin-right: auto;
	margin-left:auto;
}

#search-box-results{
	margin-top: 50px;
}

#search-input, #searchbox{
	height: 40px;
}


.home-page-search{
	float: none;
	margin: auto;	
}

.home-page-type{
	float: left;
	margin: auto;	
}

.home-page-modal{
	float: right;
	margin: auto;	
}

#myBtn {
	float: right;
	padding: 5px;
	font-size: 16px
}

.center-vertical {
	margin-top:320px;
}

.row{
	margin-bottom:10px;
}

.container {
	margin-top: 40px;
	margin-bottom: 40px;
}


.term-info-row {
	border-radius: 10px;
	background-color: #DABFDE;
}

.property-info-row {
	border-radius: 10px;
	background-color: #FFAAA5;
}

.desc-info-row {
	border-radius: 10px;
	background-color: #FFAAA5;
}

.ref-info-row {
	border-radius: 10px;
	background-color: #FFAAA5;
}

.en-info-row{
	border-radius: 10px;
	background-color: #FF8B94;
}

.sim-info-row{
	border-radius: 10px;
	background-color: #C6ACC7;
}

#conf-link {
	top: 45px;
    right: 100px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	font-size: 16px !important;
	font-weight: bold !important;
	color: #ffffff !important ; 
	background-color: #337ab7 !important ;
}

.nav-tabs>li>a {
	font-size: 16px !important;
	font-weight: bold !important;
	color: #337ab7 !important;
	background-color: #ffffff !important;
}

.subtitle {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	color: white;
}

