body {
	background-color: #ADD9E4;
}

#search-button-home, #search-button-results {
	height: 40px;
	color: white;
	background-color: #339ccc;
}

#search-box-home {
	width: 100%;
	/*
	position: absolute;
	height: 100%;	
	display: table;	
	*/
}


#search-box-home .row {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

#search-box-home p{
	font-family: Verdana, Geneva, sans-serif;
	color: #E88100;
	padding-left: 15px;
}

.result-col{
	width: 800px;
	margin-right: auto;
	margin-left:auto;
}

#search-box-results{
	margin-top: 50px;
}

#search-input, #searchbox{
	height: 40px;
}


.home-page-search{
	float: none;
	margin: auto;	
}

.home-page-type{
	float: left;
	margin: auto;	
}

.home-page-modal{
	float: right;
	margin: auto;	
}

#myBtn {
	float: right;
	padding: 5px;
	font-size: 16px
}

.center-vertical {
	margin-top:320px;
}

.row{
	margin-bottom:10px;
}

.container {
	margin-top: 40px;
	margin-bottom: 40px;
}


.term-info-row {
	border-radius: 10px;
	background-color: #DABFDE;
}

.property-info-row {
	border-radius: 10px;
	background-color: #FFAAA5;
}

.desc-info-row {
	border-radius: 10px;
	/*background-color: #FFAAA5;*/
}

.ref-info-row {
	border-radius: 10px;
	background-color: #4E4E56;
}

.en-info-row{
	border-radius: 10px;
	background-color: #FF8B94;
}

.sim-info-row{
	border-radius: 10px;
	background-color: #C6ACC7;
}

#conf-link {
	top: 45px;
    right: 100px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	font-size: 16px !important;
	font-weight: bold !important;
	color: #ffffff !important ; 
	background-color: #337ab7 !important ;
}

.nav-tabs>li>a {
	font-size: 16px !important;
	font-weight: bold !important;
	color: #337ab7 !important;
	background-color: #ffffff !important;
}

.subtitle {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	color: white;
}

/* TITULOS */

.concept-dataset{
	font-size: 20px;
	font-weight: bold;
	color: #F15F74;
}

.concept-title {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	color: white;
}

.concept-detail{
	font-size: 17px;
	text-align: center;
	background-color: #FF9248;
	color: white;
	width: 155px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}


.concept-detail:hover{
	/*color: #337ab7; !important*/
	background-color: #FF6700;
}

.concept-detail a {
	color: white;
}

.concept-detail a:hover{
	color: white;
}

.property-name{
	font-size: 20px;
    font-weight: bold;
    color: #339ccc;
}

.see-detail-div {
	text-align: justify;
    text-justify: inter-word;
    margin-bottom: 35px;
}

.prop-group-elem {
	margin-bottom: 25px;
	text-align: justify;
    text-justify: inter-word;
}

.prop-group-name, .property-name{
	background-color: white;
	font-size: 20px;
    font-weight: bold;
    color: #339ccc;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #4E4E56;
}

/* elementos lista */
.prop-label-5 {
	background-color: white;
	/*
	font-size: 17px;
    font-weight: bold;
    */
    color: black;
}
/*
.prop-label-5:hover{
	background-color: #339ccc;
}
*/

.prop-label-5 a{
	color: black;
	background-color: white;
}

/*
.prop-label-5 a:hover{
	color: white;
	background-color: #339ccc;
}
*/
.list-group-instances {
	background-color: white;
	cursor: pointer;
}
/*
.list-group-instances:hover {
	background-color: #339ccc;
}
*/

.span-icon {
	float: right !important ;
	font-size: 18px;
}

.flip-instance {
	width: 90px;
	float: right;
}

.list-element-instance {
	margin-bottom: 10px;
}

/* estilos para imagen */

img {
	width: 100%;
	display: block;
	margin: auto;
}



